<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
</head>

<body>
<span class="text-muted">User:</span>
<span class="badge bg-secondary" sec:authentication="principal.username"></span>
<a th:href="@{/leaders}" sec:authorize="hasRole('MANAGER')">Exclusive for managers!</a>
<a th:href="@{/systems}" sec:authorize="hasRole('ADMIN')">Exclusive for Admins!</a>


<footer>
    <p>&copy; 2024 all rights reserved yadayadayada</p>
    <!-- Logout Button -->
    <form th:action="@{/logout}" method="post">
        <div class="left">
            <button type="submit" class="btn btn-danger" value="logout">Logout</button>
        </div>
    </form>
</footer>

</body>

</html>
